body {
  background-color: #4B7399;
	color: #444;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

div.nav {
	background-color: black;
	clear: all;
	width: 850px;
	margin-bottom: 50px;
}
ul.nav {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.nav li {
	background-color: #ccc;
	display: block;
	padding: 5px;
	float: left;
}
ul.nav li a {
	float: none;
	padding: 5px;
	text-decoration: none;
}
ul.nav li:hover,
ul.nav li:hover a {
	background-color: blue;
	color: white;
}

#content {
}

span.balance {
	display: block;
	font-size: 50px;
	text-align: center;
	width: 300px;
}

p.payment_link a {
	background-color: #bbb;
	border: 1px solid #ccc;
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	width: 300px;
}
p.payment_link a:hover {
	background-color: red;
	color: white;
}

tr.bill {
	color: black;
}
tr.assignment {
	color: red;
}
tr.payment {
	color: green;
}

span.time {
	color: #999;
	font-size: 0.75em;
}

h3 {
	background-color: blue;
	color: white;
	padding: 3px;
}

div.balances ul {
	font-size: 1.2em;
	list-style: none;
	padding-left: 0;
}
div.balances ul li {
}

div.timeline p {
	margin: 3px 0 0 0;
	padding: 0;
}

div.timeline p.bill span.amount {
	color: #d20404;
}
div.timeline p.payment span.amount {
	color: #15851d;
}
div.timeline p.assignment span.amount {
	color: #c27906;
}

div.timeline span.user {
/*	font-weight: bold;*/
}
	
div.timeline p.date {
	color: #999;
}
	
	